/* You can add global styles to this file, and also import other style files */
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";

.btn-orange {
    background: #fd7e14;
    color: #ffff;
}

.btn-orange:hover{
  background: #fd7e14;
  color: #ffff;
}

.bg-login {
    background-image: url('assets\img\img-burger-login.png');
    border-radius: 16px 0px 0px 16px;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.activeOption {
  color: #E94F35 !important;
}

.prueba {
  background-color: red;
}

.btn-success-2{
  background:#3fc59d;
}

.btn-success-2:hover{
  background:#3fc59d;
}
.text-orange {
  color: #EF5A3A;
}

.text-gray-ligth {
  color: #B9B9B9;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper-flexbox .card-category {
  flex: 0 0 auto;
  height: auto;
  width: 105px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #F5F5F5;
  color: #B9B9B9;
  cursor: pointer;
  border:1px solid #eeeeee;
}

.category-active {
  background-color: #FBBB21 !important;
  color: #ffff !important;
}

.category-active i {
  color: #FBBB21;
}

.icon-category {
  background-color: #ffff;
  border-radius: 5px;
  height: 65px;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.nav-link i{
  font-size: 27px !important;
}

.text-product{
  color:#4E4E4E;
}

.price-product{
  color: #E94F35;
}

.card-product{
  cursor: pointer;
}


.group-product{
 width: 120px;
}

.group-product input{
  border: 1px solid #FBBB21;
  text-align: center;
}

.btn-outline-orange{
  border: 1px solid #FBBB21;
  color:#FBBB21;
}

.btn-outline-orange:hover{
  background-color:#FBBB21 !important;
  color:#fff;
}

.btn-delete-row{
  text-align: center;
  color:#ff3547;
}

.btn-delete-row:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.total-sumary{
  margin-left: 8px;
  font-weight: 500;
}

.alert-warning{
  height: 40px;
}

.alert-warning p{
  margin-top:-10px;
}


.btn-orange2{
  background: #EF5A3A;
  color: #ffff;
}

.btn-orange2:hover{
  opacity: 0.85;
  background: #EF5A3A;
  color: #ffff;
}

.product-img-selected {
  background-color: rgba(5, 5, 5, 0.45);;
  height: 100%;
  display: block;
}

.product-img-selected i {
  color: #ffff;
  font-size: 40px;
  margin-top: 25%;
}

.card-body {
  background: #ffff;
  z-index: 3;
}

.empty-summary{
  height: 100%;
}

/* colores */
.color-myPrimary {
  background: #EF5A3A;
}

.color-myPrimary-v2 {
  background: #FFBA0C;
}

.color-mySecondary {
  background: #dadada;
}

.color-myGray {
  background: #f8f8f8;
}

/* texto */
.color-myGray-text {
  color: #8a8989;
}

.color-myPrimary-text {
  color: #8a8989;
  text-decoration: none;
}

.color-myPrimary-text:hover {
  color: #FFBA0C;
  text-decoration: none;
}

/*iconos*/
.icon-myEdit {
  cursor: pointer;
  color: #A4A4A4;
}

.icon-myRemove {
  cursor: pointer;
  color: #ff3547;
}

/* boton */
.button-myPrimary {
  background: #FFBA0C;
  color: #ffff;
}

.button-myPrimary:hover{
  background: #FFBA0C;
}


/* tabla */
.myImage {
  max-width:50px;
  height: auto;
}

/* estados */
.span-on-hold {
  background: #EF5A3A;
  color: #ffff;
  font-size: 13px;
}

.span-in-preparation {
  background: #FBBB21;
  color: #ffff;
  font-size: 13px;
}

.span-ready {
  background: #BA68C8;
  color: #ffff;
  font-size: 13px;
}

.span-finalized {
  background: #1BC47D;
  color: #ffff;
  font-size: 13px;
}

.span-cancelled {
  background: #9b9898;
  color: #ffff;
  font-size: 13px;
}

.text-note{
  color:#cc8801;
}
